# Editor swap/backup files
*~
*.swp
*.swo
*.tmp
*.bak

# macOS graffiti
.DS_Store
._*

# Obsidian graffiti
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/workspaces.json
.trash/

# Do not check in build directory
.build/quartz/
