@use "./variables.scss" as *;

// Use Obsidian highlight color for all highlights
.highlight {
  background-color: var(--textHighlight);
}

// Tweak pre/code colors
// IMPORTANT: Must sync with syntax-highlighting themes!
body.theme-light code,
body.theme-light pre {
  color: #3c3836;
  background: #f2e5bc;
}

body.theme-dark code,
body.theme-dark pre {
  color: #ebdbb2;
  background: #32302f;
}

pre>code>[data-line]:before {
  color: var(--gray);
}

// Align callout colors with Obsidian Minimal Gruvbox theme
// SEE: /quartz/styles/callouts.scss
.callout[data-callout],
.callout[data-callout="info"],
.callout[data-callout="todo"] {
  // blue
  --color: #458588;
  --border: #45858844;
  --bg: #45858810;
}

.callout[data-callout="abstract"],
.callout[data-callout="tip"] {
  // cyan
  --color: #689d6a;
  --border: #689d6a44;
  --bg: #689d6a10;
}

.callout[data-callout="success"] {
  // green
  --color: #98971a;
  --border: #98971a44;
  --bg: #98971a10;
}

.callout[data-callout="question"],
.callout[data-callout="warning"] {
  // orange
  --color: #d65d0e;
  --border: #d65d0e44;
  --bg: #d65d0e10;
}

.callout[data-callout="failure"],
.callout[data-callout="danger"],
.callout[data-callout="bug"] {
  // red
  --color: #cc241d;
  --border: #cc241d44;
  --bg: #cc241d10;
}

.callout[data-callout="example"] {
  // purple
  --color: #b16286;
  --border: #b1628644;
  --bg: #b1628610;
}

body.theme-light .callout[data-callout="quote"] {
  // gray
  --color: #7c6f64;
  --border: #a89984;
  --bg: #d5c4a1;
}

body.theme-dark .callout[data-callout="quote"] {
  // gray
  --color: #a89984;
  --border: #7c6f64;
  --bg: #504945;
}

// Fix search / button group placement on small screens
@media not (min-width: 800px) {
  .left.sidebar>.flex-component {
    margin-right: calc(5px - 1rem);
    min-width: min(50%, calc(14rem + 1rem + 20px + 1rem));
  }
}

// Hide the entire right sidebar on widths < 1200px (not just the TOC)
@media not (min-width: 1200px) {
  .page>#quartz-body .sidebar.right {
    display: none;
  }
}

// Transclude header tweaks
.transclude>h1 {
  display: none;
}

.transclude>h2 {
  font-size: 1.12rem;
  margin-top: 1.62rem;
  margin-bottom: 1rem;
}

.transclude>h3,
.transclude>.transclude>h2 {
  font-size: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

// Better handling of notes with many tags
.note-properties .note-properties-tags {
  flex-wrap: wrap;
}

.note-properties .note-properties-tags .tag-link,
.note-properties .note-properties-separator {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

// Better element separation for explorer and TOC
@media not (min-width: 800px) {
  .explorer-content>ul.overflow li {
    margin-right: 1rem;
  }
}

.explorer-content ul.content li,
ul.toc-content li {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--lightgray);
}

.explorer-content ul.content li:last-child,
ul.toc-content li:nth-last-child(2),
ul.toc-content li:last-child {
  border-bottom: none;
}

ul.toc-content.overflow .depth-0 {
  margin-left: 0;
  padding-left: 0;
}

ul.toc-content.overflow .depth-1 {
  margin-left: 1rem;
  padding-left: 0;
}

ul.toc-content.overflow .depth-2 {
  margin-left: 2rem;
  padding-left: 0;
}

ul.toc-content.overflow .depth-3 {
  margin-left: 3rem;
  padding-left: 0;
}

ul.toc-content.overflow .depth-4 {
  margin-left: 4rem;
  padding-left: 0;
}

ul.toc-content.overflow .depth-5 {
  margin-left: 5rem;
  padding-left: 0;
}

// Tweak trailing page elements
.backlinks {
  border-bottom: 1px solid var(--lightgray);
  margin-bottom: 1.25rem;
  margin-top: 2rem;
}

.backlinks>ul.overflow {
  margin-top: 0;
  margin-bottom: 1rem;
}

.backlinks>ul.overflow>li {
  margin: 1rem 0
}

.backlinks>ul.overflow>li.overflow-end {
  display: none;
}

.recent-notes {
  border-bottom: 1px solid var(--lightgray);
  margin-bottom: 1.25rem;
  margin-top: 2rem;
}

.recent-notes>ul.recent-ul>li.recent-li>div.section>div.desc>h3 {
  font-size: 1rem;
}

.recent-notes> :last-child {
  margin-bottom: 2rem;
}

.page>#quartz-body footer> :first-child {
  margin-top: 0;
}

// Hide page content metadata on the main index (as it doesn't make
// sense in that context)
body[data-slug="index"] .page-header .content-meta {
  display: none;
}

// ------------------- Delphi Foresight Strategy ------------------- //

// Do not display recent notes on index pages (as it's duplicative)
body[data-slug="index"] .recent-notes,
body[data-slug$="/index"] .recent-notes,
body[data-slug^="tags/"] .recent-notes {
  display: none;
}

body[data-slug="index"] .page>#quartz-body footer,
body[data-slug$="/index"] .page>#quartz-body footer,
body[data-slug^="tags/"] .page>#quartz-body footer {
  margin-top: -0.75rem;
}

// Reduce page title size to keep everything on a single line
@media (min-width: 800px) {
  .page-title {
    font-size: 1.25rem;
    padding-right: 0;
  }
}

@media not (min-width: 800px) {
  .page-title {
    font-size: 1rem;
    padding-right: 1rem;
  }
}

// Remove border around title image on the main index (to improve
// spacing)
body[data-slug="index"] article img:first-child {
  margin-top: 0.5rem;
  margin-bottom: 0;
}